
@model Tuple<Buggity.Models.CodeFirst.Ticket, IEnumerable<Buggity.Models.CodeFirst.TicketAttachment>, Buggity.Models.CodeFirst.Project, IEnumerable<Buggity.Models.CodeFirst.Comment>>

@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Details";
    var lstAssgedUsrs = (List<SelectListItem>)ViewData["TicketAssgedUsrs"];
    bool usrIsDev = ViewData.ContainsKey("usrIsDev") && ViewData["usrIsDev"] != null ? (bool)ViewData["usrIsDev"] : false;
    string disabledAssgDev = usrIsDev ? "not-active" : "";
    string userId = Request.IsAuthenticated ? User.Identity.GetUserId() : "";
}


<script>
  $(document).ready(function () {
  $('#myTable').DataTable();
});
</script>
<style type="text/css">
    .not-active {
        pointer-events: none;
        cursor: default;
    }
</style>


<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item3.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item3.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Created.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Created.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.PictureUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.PictureUrl)
            @*<img src="~/TicketImages/@Url.Content(Model.Item1.PictureUrl)" alt="Image" style="width: 200px;height: 200px;" />*@

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.TicketPriorityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.TicketPriorities.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.TicketTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.TicketTypes.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.TicketStatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.TicketStatuses.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.AssigneeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.AssigneeId)
        </dd>

    </dl>
</div>


<br />



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.Id }, new { @class = "btn btn-primary" })

    @Html.ActionLink("Back to List", "Index", new { userId = userId }, new { @class = "btn btn-danger" })


    @if (this.User.IsInRole("PM") || this.User.IsInRole("Admin"))
    {

        @Html.ActionLink("Assign Developers", "AssignDevsToTicket", new { ticketId = Model.Item1.Id, usrIsDev = usrIsDev }, new { @class = "btn btn-info" })

    }
</p>

@if (this.User.IsInRole("PM") || this.User.IsInRole("Admin"))
{

    <div>
        @using (Html.BeginForm("RemoveDevAssgedToTicket", "Tickets", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("ticketId", ((Buggity.Models.CodeFirst.Ticket)Model.Item1).Id.ToString())
            <div>
                @Html.Label("Assigned Developers")
            </div>

            <div>
                @Html.DropDownList("AssgedDevUsrId", lstAssgedUsrs, "Assigned Devs...")
            </div>

            <br />
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Remove" class="btn btn-default" @(usrIsDev ? "disabled='disabled'" : "") />
                </div>
            </div>
        }

    </div>
}



<br />

<br />


<hr />


<div class="table-responsive">
    <table id="myTable" class="table table-striped table-hover" style="border: 2px solid lightgray; font-size: 12px;">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Item4.First().CommentText)
                </th>

                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Item4)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.CommentText)
                    </td>
                </tr>
            }

        </tbody>

    </table>
</div>
<br />

<br />


<hr />

<div class="table-responsive">
    <table id="myTable" class="table table-striped table-hover" style="border: 2px solid lightgray; font-size: 12px;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => Model.Item2.First().MediaURL)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item2)
            {
                <tr>
                    <td>

                        <img class="img-responsive" src="@item.MediaURL" alt="image" style="width: 200px;height: 200px;">
                        @*<img src="~/TicketImages/@Url.Content(Model.Item2.First().MediaURL)" alt="Image" style="width: 200px;height: 200px;" />*@
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<hr />


<br />
<br />




@using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
{
    @Html.Hidden("ticketId", ((Buggity.Models.CodeFirst.Ticket)Model.Item1).Id.ToString())



    <div class="form-group">
        @Html.LabelFor(model => model.Item4.First().CommentText, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Item4.FirstOrDefault().CommentText, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Item4.FirstOrDefault().CommentText, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Ticket Comment" class="btn btn-default" />
        </div>
    </div>

}


<hr />


<br />
<br />

@using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
{
    @Html.Hidden("ticketId", ((Buggity.Models.CodeFirst.Ticket)Model.Item1).Id.ToString())


    <div class="form-group">
        @Html.LabelFor(model => model.Item2.First().MediaURL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <input name="image" type="file" class="form-control" id="fileUpload" />
            @Html.ValidationMessageFor(model => model.Item2.First().MediaURL, "", new { @class = "text-danger" })


        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Ticket Attachment" class="btn btn-default" />
            </div>
        </div>

    </div>
}
<h2>Ticket Histories!</h2>
<p>

</p>



@{ Html.RenderAction("_tickethistory", "tickets", new { id = Model.Item1.Id });}

<br />



@section Scripts{

    <script type="text/javascript" src="~/js/jquery.datatables.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
    </script>
}